<h1 id="rsstube" class="text-center">RSSTube <small>Proper Subscriptions For YouTube</small></h1>
<p class="lead">YouTube's homepage is cluttered with things YouTube thinks you should watch. But what about the channels <em>you</em> want to keep up with?</p>

<p>RSSTube allows you to keep up with any channel simply by using your favorite RSS reader. The RSS feed for the channel will be simply a feed of each upload, and the content of each feed item will contain simply an embedded YouTube video. Nothing more.</p>

<p>If you want to comment or see more, just click through and you'll be taken straight to the video in YouTube.</p>

<h2 class="text-center">Using RSSTube</h2>
<p>It's easy! Add a subscription in your RSS reader to <code>http://<%= request.domain %>/channel.atom</code>, replacing <code>channel</code> with the name of the channel you want to subscribe to.</p>